.Precision {
    display: flex;
    align-items: center;
    text-align: center;
    width: 88%;
    position: relative;
    left: 6%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: rgb(112, 112, 112);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.Precision>img {
    width: 30%;
    position: relative;
    left: -70%;
}

.text {
    position: relative;
    left: 30%;
    border-width: 20%;
    padding: 5px;
    margin: 5px;
    top: -10.5em;
    height: 100px;
}

body {
    background-color: rgb(53, 53, 53);
    scrollbar-color: dark;
}

.text>p {
    text-align: justify;
}

#text11 {
    position: relative;
    top: -9.25em;
}

#text12 {
    position: relative;
    top: -10em;
}

#text13 {
    position: relative;
    top: -10em;
}

h1 {
    text-align: center;
}

html {
    --scrollbarBG: rgb(53, 53, 53);
    --thumbBG: rgb(112, 112, 112);
}

body::-webkit-scrollbar {
    width: 18px;
}

body {
    scrollbar-width: auto;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 5px;
    border: 3px solid var(--scrollbarBG);
}