.calendrier {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 30.5%;
    left: 26%;
    cursor: pointer;
    opacity: 0;
}
body {
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
}
h3 {
    color: rgb(20, 63, 143);
    font-size: 125%;
}
.vérité {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 30.5%;
    left: 54%;
    cursor: pointer;
    opacity: 0;
}
h1 {
    text-align: center;
    cursor: default;
    opacity: 0;
}
#TB {
    position: absolute;
    top: 72.2%;
    left: 8%;
    opacity: 0;
    width: 40%;
}
#TH {
    position: absolute;
    top: 8%;
    left: 42%;
    opacity: 0;
    width: 40%;
}
img {
    -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
  }
#bouton {
    border: 0px solid rgb(31, 103, 236);
}
html, body {margin: 0; overflow: hidden}
#weather {
    position: absolute;
    left: 75%;
    font-size: small;
    top: -0.05%;
    color: white;
    cursor: default;
    opacity: 0;
}

#cityname {
position: relative;
font-size: smaller;
left: 200px;
top: -43px;
}
.temp {
    position: absolute;
    left: 227px;
    top: 70px;
    font-size: smaller;
}
body.night {
    background-color: rgb(39, 38, 38);
    color: white;
}
#mode {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 8%;
    height: 4%;
    padding: 0.3% 0.5% 0.5% 0.5% ;
    position: absolute;
    top: 94.5%;
    left: 89.5%;
    cursor: pointer;
    opacity: 0;
}
