html, body {
    margin: 0;
    overflow: hidden
}

body {
    background-color: azure;
    transition: 0.5s;
}

h1 {
    text-align: center;
    cursor: default;
    opacity: 0;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    color: rgb(20, 63, 143);
    font-size: 125%;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#TB {
    position: absolute;
    top: 72.2%;
    left: 8%;
    opacity: 0;
    width: 40%;
    transition: filter 0.5s;
}

#TH {
    position: absolute;
    top: 8%;
    left: 42%;
    opacity: 0;
    width: 40%;
    transition: filter 0.5s;
}

#TH, #TB {
    -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

#bouton {
    border: 0px solid rgb(31, 103, 236);
    transition: background-color 1s;
}

#weather {
    position: absolute;
    left: 75%;
    font-size: small;
    top: -0.05%;
    color: white;
    opacity: 0;
    cursor: pointer;
}

#cityname {
    position: relative;
    font-size: smaller;
    left: 280%;
    top: 20%;
}

#hoverhaut, #hoverbas {
    cursor: pointer;
}

#carréhaut, #carrébas {
    position: absolute;
    opacity: 0;
    -webkit-filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}

#carréhaut {
    top: 0%;
    left: 99.5%;
    width: 9.5%;
}

#carrébas {
    top: 81%;
    left: -9%;
    width: 9.5%;
}

#météo {
    position: absolute;
    width: 40%;
}

#météo1 {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 300%;
    left: 1.5%;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.8s;
}

#météo2 {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 300%;
    left: 26.5%;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.8s;
}

#météo3 {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 300%;
    left: 51.5%;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.8s;
}

#météo4 {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 300%;
    left: 76.5%;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.8s;
}

#mode {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 8%;
    height: 4%;
    padding: 0.3% 0.5% 0.5% 0.5%;
    position: absolute;
    top: 94.5%;
    left: 89.5%;
    cursor: pointer;
    opacity: 0;
    transition: transform 0.2s, background-color 0.8s;
}

.calendrier {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 30.5%;
    left: 26.5%;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.8s;
}

.vérité {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: 17%;
    padding: 4px 10px 10px 10px;
    position: absolute;
    top: 30.5%;
    left: 51.5%;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.8s;
}

.temp {
    position: absolute;
    left: 227px;
    top: 70px;
    font-size: smaller;
}

.what {
    display: none;
}

body.night {
    background-color: rgb(39, 38, 38);
    color: white;
}

#mode:hover {
    transform: scale(1.2);
}

.vérité.night, .calendrier.night, #météo1.night, #météo2.night, #météo3.night, #météo4.night {
    background-color: black;
    color: white;
}

#mode.night {
    background-color: black;
    transition: transform 0.2s, background-color 0.8s;
}

#TH.wow, #TB.wow {
    -webkit-filter: drop-shadow(0px 0px 25px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
}

#météo.night {
    color: white;
}