h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
}

#bouton {
  position: absolute;
  left: 43%;
  top: 42%;
  transition: transform 0.2s;
}

#mapBouton:hover {
  transform: scale(1.15);
}

body {
  overflow: hidden;
  background-color: rgb(145, 204, 255);
}

h1 {
  position: absolute;
  text-align: center;
  left: 40%;
}

#buttonframe {
  position: absolute;
  width: 30%;
  left: 33.4%;
  top: 18%;
}

#title {
  text-transform: uppercase;
  position: absolute;
  top: 13%;
  left: 42.5%;
  font-size: 45px;
}

#title1 {
  left: 36%;
  font-size: 50;
}

#countmax {
  position: absolute;
  top: 93%;
  font-size: larger;
}

#proverbe0, #proverbe1 {
  position: absolute;
  top: 0%;
  font-size: larger;
  font-family: 'Dancing Script', cursive;
  text-overflow: ellipsis;
  max-width: 400px;
  opacity: 0;
}